* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.sidebar {
    width: 200px;
    background-color: lightblue;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0px 30px 0px 0px;
}
.sidebar a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
    
    }
.content {
    flex-grow: 1; 
    padding: 20px;
    background-color: #f4f4f4;
}