#content_zadanie {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    height: 100vh;  
    width: 100%;  
    text-align: center;
}
#content_zadanie .main { 
    flex-direction: column;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
}
#content_zadanie p {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#math {
    color: black;
    display: inline-block;
}
