#content_zadanie {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    height: 100vh;  
    width: 100%;  
    text-align: center;
}
#content_zadanie .main { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#content_zadanie p {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
