#content_zadanie {
    width: 70vh;
    align-self: center;
}
#content_zadanie body {
    justify-content: center;
}

#content_zadanie .main {
    text-align: center;
    line-height: auto;
}

#content_zadanie .math {
    text-align: center;
    line-height: auto;
}
