body {
    margin: 40px;
    font-size: 30px;
}

#content_zadanie .adnote {
    text-align: center;
    line-height: 70px;
}

#content_zadanie .math {
    text-align: center;
    line-height: 70px;
}
