#content {
    background-color: grey;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#content .container {
    display: flex;
    background: aqua;
}
