#content {
    background-color: #f4f4ff;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#content .container {
    display: flex;
    background: #f4f4ff;
    flex-direction: column;
}
#content .top_box {
    display: flex;
    background-color: lightblue;
    width: 50vh;
    justify-content: center;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 30px 30px 10px 10px;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
#content_zadanie {
    background-color: #f4f4ff;
}
@media (max-width: 768px) {
    #content {
        margin: 100px;
        align-items: center;
    }
    #content .top_box {
    display: flex;
    background-color: lightblue;
    justify-content: center;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 30px 30px 10px 10px;
    flex-direction: column;
    align-items: center;
    align-self: center;
    }
}