html {
    background-color: #f4f4ff;
}
#content {
    background-color: #f4f4ff;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#content .title {
    display: flex;
    background: aqua;
}
